@import "base/base";

@import "abstracts/mixins";
@import "components/bg-gallery";
@import "components/navigation";
@import "components/product-list";
@import "components/section";
@import "components/contact";

.app-container {
  //background-color:var(--color-c);
  // max-width: 100vw;
  width: 100%;
}
.main-container {
  //background-color: green ;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  transition: var(--quick-transition);
}

.spacer-v {
  height: calc(100vh - 2 * var(--title-height));

  display: flex;
  flex-direction: column;

  justify-content: space-between;

  width: 0.1rem;

}
.message {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;

  display: flex;
  align-items: center;
  justify-content: center;
  //background-color: var(--color-b);
  transform: var(--quick-transition);
  &__content {
    position: sticky;
    top: 0;
    text-transform: uppercase;
    font-size: 9vw;
    padding: 5rem;
    &-l {
      z-index: 0;
      align-self: flex-start;
      z-index: 1;
      color: var(--color-a);
      background-color: var(--color-light);
    }
    &-r {
      z-index: 0;
      align-self: flex-end;
      color: var(--color-light);
      background-color: var(--color-c);
    }
  }
}

.opening-container{
  position: fixed;;
  height:calc(100% - 2*var(--title-height));
  margin-top: var(--title-height);
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: -8;
  
}
.gallery-position{
 padding: 3rem;
 display: flex;

 align-items: center;
 justify-content: center;

 &__item{
   margin: 0 var(--padding-s);
   width:var(--padding-s);
   height: var(--padding-s);
   background-color: var(--color-d) ;
   border-radius: 50%;
  
  
 }

}