:root {
  --color-a: rgb(211, 38, 44);
  --color-a-light: #ff3366;
  --color-a-dark: #ba265d;
  --color-a-20: rgba(207, 38, 43, 0.2);
  --color-a-60: rgba(207, 38, 43, 0.6);
  --color-b: rgb(43, 66, 12);
  --color-c: rgb(245, 191, 75);
  --color-c_alpha: rgba(250, 194, 77, 0.32);
  --color-c-30: rgba(250, 194, 77, 0.32);
  --color-d: rgb(197, 188, 64);
  --color-e: rgb(185, 101, 56);
  --color-light: rgb(247, 246, 235);
  --color-light-20: rgba(247, 246, 235, 0.2);
  --color-dark: rgb(12, 19, 4);
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 2px 3px 9px 2px rgba(12, 46, 17, 0.25);
  --line: 2px solid var(--color-dark);
  --base-transition: all 0.6s cubic-bezier(0.86, 0, 0.07, 1);
  --quick-transition: all 0.15s cubic-bezier(0.86, 0, 0.07, 1);
  --padding-s: 0.8rem;
  --padding-m: 4rem;
  --padding-l: 14rem;
  --border-radius: 0.5rem;
  --title-height: 10.5rem; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 62.5em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Montserrat", "Open Sans", sans-serif;
  font-weight: 800;
  line-height: 1.6;
  color: var(--color-light); }

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.2rem;
  font-style: normal; }

.background-gallery {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -10;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(100vw);
  transition: var(--base-transition); }
  .background-gallery::before {
    content: "";
    width: 100%;
    height: 100%;
    position: fixed;
    background-image: linear-gradient(to right bottom, var(--color-c_alpha), rgba(0, 0, 0, 0)); }

.logo {
  display: flex;
  flex-direction: column;
  color: var(--color-light);
  transition: var(--quick-transition); }
  .logo__head {
    font-family: utopia-std-caption, serif;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    font-size: 14vw;
    line-height: 0.8; }
  .logo__sub {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 2vw;
    font-weight: 200;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .logo__sub:before {
      content: "";
      position: relative;
      height: 0.15rem;
      flex: 0.3;
      background-color: var(--color-light); }
    .logo__sub:after {
      content: "  ";
      position: relative;
      height: 0.15rem;
      flex: 0.3;
      background-color: var(--color-light); }

.nav-container {
  width: 100%; }

.nav-bar {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: var(--title-height);
  background-color: var(--color-a);
  font-size: larger;
  justify-content: space-between; }
  .nav-bar__ul {
    width: 1fr;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: var(--color-light);
    width: 100%; }
  .nav-bar__li {
    flex: 1;
    height: 100%;
    justify-content: center;
    display: flex;
    position: relative;
    transition: var(--quick-transition); }
    .nav-bar__li > * {
      flex: 0.9;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--color-d);
      text-decoration: underline;
      text-align: center;
      transition: var(--quick-transition); }
      .nav-bar__li > *:hover {
        background-color: var(--color-c_alpha); }
  .nav-bar__themify {
    width: 10vw;
    display: flex;
    align-items: center;
    justify-content: center; }
    .nav-bar__themify-picker {
      color: var(--color-e);
      display: flex;
      transform: scale(1.2);
      justify-content: center;
      align-items: center;
      cursor: pointer;
      opacity: 1;
      transition: var(--quick-transition);
      animation: palette 4s infinite ease-in-out; }
      .nav-bar__themify-picker:hover {
        transform: scale(1.4);
        opacity: 1; }

.navigation {
  position: fixed;
  z-index: 100; }
  .navigation__checkbox {
    display: none; }
  .navigation__button {
    transform: scale(2);
    position: fixed;
    right: 4.5rem;
    top: 4.5rem;
    z-index: 1000;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-image: url(../img/logosmall.png);
    background-repeat: no-repeat;
    transition: var(--quick-transition); }
    .navigation__button:hover {
      transform: scale(3.4); }
  .navigation__icon-on {
    color: var(--color-light); }
  .navigation__icon-off {
    color: var(--color-c); }
  .navigation__background {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0vh;
    left: 100%;
    background-color: var(--color-a);
    transition: var(--base-transition); }
  .navigation__background-hovered {
    left: 95vw;
    height: 100vh;
    opacity: 0.9; }
  .navigation__checkbox:checked ~ .navigation__background {
    left: 0%;
    height: 100vh; }
  .navigation__checkbox:checked ~ .navigation__nav {
    transform: translateX(0vw);
    opacity: 1; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon-on {
    display: none; }
  .navigation__checkbox:not(:checked) + .navigation__button .navigation__icon-off {
    display: none; }
  .navigation__nav {
    position: fixed;
    width: 100%;
    height: 100vh;
    opacity: 0;
    display: flex;
    flex-direction: column;
    transform: translateX(-150vw);
    transition: var(--base-transition);
    padding: 11rem 5rem; }
  .navigation__themify {
    display: flex;
    cursor: pointer;
    justify-content: space-evenly;
    color: var(--color-e); }
    .navigation__themify-i {
      transform: scale(1.2);
      animation: palette 4s infinite ease-in-out; }
      .navigation__themify-i:hover {
        transform: scale(1.4); }
  .navigation__list {
    padding-top: 5rem;
    border: none;
    border-color: var(--color-c_alpha);
    border-width: 0.01rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: stretch;
    justify-content: space-evenly; }
  .navigation__item {
    display: flex;
    height: 23%;
    cursor: pointer; }
  .navigation__link {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: xx-large; }
    .navigation__link-span {
      color: var(--color-c);
      font-size: x-large;
      font-weight: 800; }
    .navigation__link:hover {
      background-color: var(--color-c_alpha); }
  .navigation__item:hover .navigation__item-img {
    opacity: 0.95; }

@keyframes palette {
  0% {
    transform: scale(1.4) rotateX(0); }
  5% {
    transform: scale(1.9) rotateX(75deg); }
  10% {
    transform: scale(1.4) rotateX(0); } }

.products {
  width: 100%;
  background-color: var(--color-light);
  display: grid;
  grid-template-columns: repeat(2, 45rem);
  grid-gap: var(--padding-s);
  padding: var(--padding-s);
  justify-content: center;
  align-content: center; }
  @media only screen and (max-width: 65rem) {
    .products {
      grid-template-columns: repeat(1, 90%);
      grid-gap: none;
      padding: none; } }

.product-card {
  background-color: var(--color-light);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 3rem; }
  .product-card:nth-last-child(1):nth-child(odd) {
    grid-column: 1 / span2;
    justify-self: center;
    width: 50%; }
  .product-card:nth-last-child(1):nth-child(odd):only-child {
    justify-self: stretch;
    padding: var(--padding-s);
    justify-self: center; }
  .product-card__img {
    width: 100%; }
  .product-card__info {
    width: 100%;
    height: 12rem;
    background-color: var(--color-b);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; }
  .product-card__title {
    text-transform: uppercase;
    font-size: 1.7rem;
    color: var(--color-e); }
  .product-card__date {
    font-weight: 400;
    font-size: 1rem;
    color: var(--color-light); }
  .product-card__description {
    padding: 2rem;
    font-weight: 400;
    font-size: 1rem;
    color: var(--color-light); }

.section-container {
  width: 100%; }

.section {
  min-height: calc(100vh - 11rem);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: var(--border-radius);
  transition: var(--base-transition); }
  .section__header {
    position: sticky;
    top: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 5vw;
    z-index: 10;
    height: var(--title-height);
    background-color: var(--color-a);
    color: var(--color-d);
    text-transform: uppercase; }
  .section__main {
    width: 100%;
    min-height: calc(100vh - 22rem);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-light); }
  .section__description {
    width: 100%;
    background-color: var(--color-a);
    color: var(--color-c);
    font-size: 1.2rem;
    text-align: center;
    font-weight: 500;
    padding: 0 3rem;
    height: var(--title-height); }

.upcoming-event {
  width: 100%;
  flex: 1;
  padding: var(--padding-m);
  background-color: var(--color-light);
  color: var(--color-e);
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 1.5rem; }
  @media only screen and (max-width: 62.5em) {
    .upcoming-event {
      flex-direction: column;
      align-items: center; } }
  .upcoming-event__img {
    width: 70%; }
  .upcoming-event__info {
    width: 70%;
    background-color: var(--color-b);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .upcoming-event__info-date {
      color: var(--color-light);
      font-size: 1rem;
      font-weight: 400; }

.contact {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: var(--color-light);
  min-height: calc(100vh - 24rem); }

.social {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 10% 40%; }
  .social__a > * {
    padding: 1rem;
    color: var(--color-a);
    text-align: center;
    font-size: 3vw; }

.footer {
  width: 100%;
  text-align: center;
  background-color: var(--color-a);
  color: var(--color-e);
  font-weight: 250;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center; }
  .footer__a {
    text-transform: initial !important;
    font-size: x-small !important;
    color: var(--color-light) !important; }

.app-container {
  width: 100%; }

.main-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  transition: var(--quick-transition); }

.spacer-v {
  height: calc(100vh - 2 * var(--title-height));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 0.1rem; }

.message {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: var(--quick-transition); }
  .message__content {
    position: sticky;
    top: 0;
    text-transform: uppercase;
    font-size: 9vw;
    padding: 5rem; }
    .message__content-l {
      z-index: 0;
      align-self: flex-start;
      z-index: 1;
      color: var(--color-a);
      background-color: var(--color-light); }
    .message__content-r {
      z-index: 0;
      align-self: flex-end;
      color: var(--color-light);
      background-color: var(--color-c); }

.opening-container {
  position: fixed;
  height: calc(100% - 2*var(--title-height));
  margin-top: var(--title-height);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: -8; }

.gallery-position {
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: center; }
  .gallery-position__item {
    margin: 0 var(--padding-s);
    width: var(--padding-s);
    height: var(--padding-s);
    background-color: var(--color-d);
    border-radius: 50%; }
