.background-gallery {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -10;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(100vw);
  transition: var(--base-transition);
  
  &::before{
    content: "";
    //background-color: blue;
    width: 100%;
    height: 100%;
    position: fixed; 
    background-image: linear-gradient(
      to right bottom,
      var(--color-c_alpha),
      rgba(black, 0)
    );
  }
}

.logo {
  // z-index: -9;
  @include drawLogo(var(--color-light));
}
