.contact {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: var(--color-light);
  min-height: calc(100vh - 24rem);
}
.social {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 10% 40%;
  &__a {
    & > * {
      padding: 1rem;
      color: var(--color-a);
      text-align: center;
      font-size: 3vw;
    }
  }
}
.footer {
  width: 100%;
  text-align: center;

  background-color: var(--color-a);
  color: var(--color-e);
  font-weight: 250;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  &__a {
    text-transform: initial !important; 
    font-size: x-small !important; 
    color: var(--color-light) !important;    
  }
}
