.nav-container {
  width: 100%;
}
.nav-bar {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: var(--title-height);
  background-color: var(--color-a);
  font-size: larger;
  justify-content: space-between;
  &__ul {
    width: 1fr;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: var(--color-light);
    width: 100%;
    // padding: 0 5vw;
  }

  &__li {
    flex: 1;
    //display: flex;
    height: 100%;
    //padding: 0.5rem;
    justify-content: center;
    display: flex;
    position: relative;
    transition: var(--quick-transition);
 

    & > * {       
      flex: 0.9;
      display: flex;
      align-items: center;
      justify-content: center;
      //font-weight: 800;
      color: var(--color-d);
      text-decoration: underline;
      text-align: center;
      transition: var(--quick-transition);
      &:hover {
        background-color: var(--color-c_alpha);
      }
    }
  }

  &__themify {
    width: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    &-picker {
      color: var(--color-e);
      display: flex;
      transform: scale(1.2);
      justify-content: center;
      align-items: center;
      cursor: pointer;
      opacity: 1;
      transition: var(--quick-transition);
      animation: palette 4s infinite ease-in-out;
      //animation-iteration-count: infinite;
      &:hover{
        transform: scale(1.4);
        opacity: 1;
      }
    }
  }
}
///nav screen
.navigation {
  position: fixed;
  z-index: 100;
  &__checkbox {
    display: none;
  }
  &__button {
    //background-color: red ;
    transform: scale(2);
    position: fixed;

    right: 4.5rem;
    top: 4.5rem;
    z-index: 1000;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-image: url(../img/logosmall.png);
    background-repeat: no-repeat;
    transition: var(--quick-transition);

    &:hover {
      transform: scale(3.4);
    }
  }
  &__icon {
    &-on {
      color: var(--color-light);
    }
    &-off {
      color: var(--color-c);
    }
  }

  &__background {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0vh;
    left: 100%;
    background-color: var(--color-a);

    transition: var(--base-transition);
  }

  //show menu behaviour
  &__background-hovered {
    left: 95vw;
    height: 100vh;
    opacity: 0.9;
  }

  &__checkbox:checked ~ &__background {
    left: 0%;
    height: 100vh;
  }
  &__checkbox:checked ~ &__nav {
    transform: translateX(0vw);
    //height: 100vh;
    opacity: 1;
  }

  &__checkbox:checked + &__button &__icon-on {
    display: none;
  }
  &__checkbox:not(:checked) + &__button &__icon-off {
    display: none;
  }
  ///

  &__nav {
    position: fixed;
    width: 100%;
    height: 100vh;
    opacity: 0;
    display: flex;
    flex-direction: column;
    transform: translateX(-150vw);
    transition: var(--base-transition);
    padding: 11rem 5rem;
   
  }
  &__themify{
    //background-color: var(--color-d) ;
    display: flex;
    cursor: pointer;
    justify-content: space-evenly;
    
    color: var(--color-e);
    &-i{
      transform: scale(1.2);
      animation: palette 4s infinite ease-in-out;
      &:hover{
        transform: scale(1.4);
      }      
    }

  }
  &__list {
    padding-top: 5rem;
    border: none;
    border-color: var(--color-c_alpha);
    border-width: 0.01rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: stretch;
    justify-content: space-evenly;
  }
  &__item {
    display: flex;
    //padding: 2rem;
    height: 23%;
    cursor: pointer;
  }
  &__link {
    display: flex;
    //background-color: var(--color-c_alpha);
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: xx-large;

    &-span {
      color: var(--color-c);
      font-size: x-large;
      font-weight: 800;
    }
    &:hover {
      background-color: var(--color-c_alpha);
    }
  }

  &__item:hover &__item-img {
    //padding: 3rem;
    opacity: 0.95;
  }
}


@keyframes palette {
  0% {
    transform:scale(1.4) rotateX(0);
    
  }
  5% {
    transform:scale(1.9) rotateX(75deg);
  }
  10% {
    transform:scale(1.4) rotateX(0);
  }
  
}