.products {
  width: 100%;
  background-color: var(--color-light);
  display: grid;
  
  grid-template-columns: repeat(2, min(45rem));
  grid-gap: var(--padding-s);
  padding: var(--padding-s);
  justify-content: center;
  align-content: center;
  @media only screen and (max-width: 65rem) {
    grid-template-columns: repeat(1, max(90%));
    grid-gap: none;
    padding: none;
  }
 
}

.product-card {
  background-color: var(--color-light);
  //include border-box();
  //@include drop-shadow();

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 3rem;

  &:nth-last-child(1):nth-child(odd) {
    grid-column: 1 / span2;
    justify-self: center;
    width: 50%;
  }
  &:nth-last-child(1):nth-child(odd):only-child {
    justify-self: stretch;
    padding: var(--padding-s);
    justify-self: center;
  }
  &__img {
    width: 100%;
  }
  &__info {
    width: 100%;
    height: 12rem;
    background-color: var(--color-b);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
  }
  &__title {
    text-transform: uppercase;
    font-size: 1.7rem;
    color: var(--color-e);
  }
  &__date {
    font-weight: 400;
    font-size: 1rem;
    color: var(--color-light);
  }
  &__description {
    padding: 2rem;
    font-weight: 400;
    font-size: 1rem;
    color: var(--color-light);
  }
}
