.section-container {
  width: 100%;
}
.section {
  //@include border-box();
  //@include drop-shadow();
  min-height: calc(100vh - 11rem);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: var(--border-radius);
  transition: var(--base-transition);
  &__header {
    position: sticky;
    top: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    font-size: 5vw;
    z-index: 10;
    height: var(--title-height);
    background-color: var(--color-a);
    color: var(--color-d);
    text-transform: uppercase;
  }
  &__main {
    width: 100%;
    min-height: calc(100vh - 22rem);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-light);
  }
  &__description {
    width: 100%;
    background-color: var(--color-a);
    color: var(--color-c);
    font-size: 1.2rem;
    text-align: center;
    font-weight: 500;
    padding: 0 3rem;
    //padding: 5vw;
    height: var(--title-height);
  }
}
.upcoming-event {
  width: 100%;
  flex: 1;
  padding: var(--padding-m);
  background-color: var(--color-light);
  color: var(--color-e);
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  
  @media only screen and (max-width: $bp-large) {
    flex-direction: column;
    align-items: center;
  }

  &__img {
    width: 70%;
  }
  &__info {
    width: 70%;
    //padding: 5rem;
    background-color: var(--color-b);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &-date {
      color: var(--color-light);
      font-size: 1rem;
      font-weight: 400;
    }
  }
}
